<!-- Encabezado con imagen de fondo -->
<header class="header" style="background-image: url('MessiPortada.jpg');">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap" rel="stylesheet">
  <div class="header-content">
    <div class="logo-container">
      <img src="balon.png" alt="Deporte F.V. Logo" class="logo">
      <span class="logo-text">Deporte F.V.</span>
    </div>
    <nav class="nav">
      <a href="Home">Home</a>
      <a href="Messi">Messi</a>
      <a href="Cristiano">Cristiano</a>
    </nav>
    <h1><br> Leo Messi </h1>
  </div>
</header>
<!-- Sección de todo sobre mi -->
<section class="achievements-section">
  <h2>Todo sobre mi</h2>
  
  <section class="achievement-card">
    <img src="MessiPequeño.jpg" alt="Cristiano Ronaldo" class="card-img">
    <div class="card-content">
      <h3> Los Inicios y el Sueño de un Niño</h3>
      <p>
        Lionel Messi nació el 24 de junio de 1987 en Rosario, Argentina. Desde pequeño, mostró un talento innato para el fútbol, pero su camino no fue fácil. A los 11 años, le diagnosticaron deficiencia de la hormona del crecimiento, y su familia no podía costear el tratamiento. Sin embargo, el FC Barcelona reconoció su potencial y lo fichó en su cantera, La Masía, cubriendo sus gastos médicos. Así comenzó la historia de uno de los mejores jugadores de todos los tiempos.    </div>
  </section>

  <section class="achievement-card">
    <div class="card-content">
      <h3>El Debut en el FC Barcelona y el Salto a la Fama</h3>
      <p>
        Messi debutó oficialmente con el primer equipo del FC Barcelona en 2004, con solo 17 años. Pronto, su estilo de juego deslumbrante y su capacidad para driblar a cualquier defensa lo convirtieron en una sensación. Con el Barcelona, ganó múltiples títulos de La Liga y Champions League, consolidando su lugar en la élite del fútbol mundial. A lo largo de los años, se convirtió en el máximo goleador histórico del club, superando récords y creando momentos inolvidables.    </div>
    <img src="MessiBarca.jpg" alt="Lionel Messi" class="card-img">
  </section>

  <section class="achievement-card">
    <img src="MessiJoven.jpg" alt="Cristiano Ronaldo" class="card-img">
    <div class="card-content">
      <h3>Dominio Mundial y Récords Imbatibles</h3>
      <p>
        A lo largo de su carrera en Europa, Messi se hizo con 7 Balones de Oro (2009, 2010, 2011, 2012, 2015, 2019, 2021), y fue clave en los ciclos dorados del Barcelona, con un estilo de juego que combinaba velocidad, precisión y una visión inigualable. En 2012, rompió el récord de más goles en un año natural con 91 anotaciones. Su habilidad única para cambiar el rumbo de los partidos lo mantuvo como una figura dominante en el fútbol por más de una década.    </div>
  </section>

  <section class="achievement-card">
    <img src="MessiPsg.jpg" alt="Lionel Messi" class="card-img">    
    
    <div class="card-content">
      <h3>De Barcelona a París y la Consagración Mundial</h3>
      <p>
        En 2021, Messi dejó el Barcelona tras 21 años para unirse al Paris Saint-Germain, en un momento histórico que conmocionó al mundo del fútbol. A pesar de este cambio, su rendimiento continuó siendo sobresaliente. Finalmente, en 2022, logró conquistar su sueño más grande: ganar la Copa del Mundo con Argentina. Este título completó una carrera brillante, reafirmando su lugar como uno de los más grandes de la historia del fútbol.
      </p>
    </div>
    
    <img src="MessiCopaBeso.jpg" alt="Messi Copa del Mundo" class="card-img">    
  </section>
  
</section>

<!-- Nos quitamos el sombrero -->
<section class="memorable-moments">
  <h2>Nos quitamos el sombrero</h2>

  <div class="moment-grid">
    <div class="moment-card">
      <video controls class="moment-video">
        <source src="ThiagoSilva.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
      </video>
      <p>-Thiago Silva-</p>
    </div>
    <div class="moment-card">
      <video controls class="moment-video">
        <source src="Rendidos.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
      </video>
      <p>-Rendidos Ante Messi Rivales y Amigos-</p>
    </div>
    <div class="moment-card">
      <video controls class="moment-video">
        <source src="Pep.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
      </video>
      <p>-Pep Guardiola-</p>
    </div>
  </div>
</section>

<!-- Sección de Redes Sociales -->
<section class="social-media">
  <div class="social-links">
    <a href="https://www.facebook.com/share/4fR58wdjXKwS6yri/?mibextid=qi2Omg"><img src="Facebook.png" alt="Facebook"></a>
    <a href="https://www.instagram.com/leomessi?igsh=MXN5M3J1c3d2b2Nkdg=="><img src="Ig.png" alt="Instagram"></a>
    <a href="https://youtube.com/@leomessi?si=B8Al1KQx1AMbDyBA"><img src="Youtube.jpg" alt="YouTube"></a>
  </div>
</section>